* {
	all: unset;
	font-family: Inter, "Font Awesome 6 Free Solid";
	font-size: 11pt;
}

/*Tooltip*/
tooltip {
	background-color: black;
	color: #ffffff;
	padding: 8px;
	border-radius: 8px;
}

/*Bar*/
window#waybar {
	background-color: black;
	color: #ffffff;
	padding: 3px 0;
}

/*Workspace*/
#workspaces button {
	color: #ffffff;
	background-color: #303030;
	border: none;
	border-radius: 0;
	min-width: 28px;
	min-height: 28px;
	margin: 3px 7px;
	border-radius: 999px;
	font-weight: bold;
}

#workspaces button.focused {
	background-color: #5c5c5c;
}

#workspaces button.urgent {
	background-color: #c01c28;
}

/*Widgets*/

widget > label {
	margin: 3px 6px;
	min-width: 30px;
	min-height: 30px;
	background-color: #303030;
	border-radius: 6px;
	font-weight: bold;
}

widget > label#pulseaudio.source-muted {
	border-radius: 6px 6px 0 0;
	margin-bottom: 0;
}
widget > label#pulseaudio.source-muted.mic {
	border-radius: 0 0 6px 6px;
	margin-top: 0;
	margin-bottom: 3px;
}

widget > label#clock {
	min-height: 45px;
}

widget > label#mpris {
	border-radius: 0;
	margin: 0 6px;
}
widget > label#mpris.next {
	border-radius: 6px 6px 0 0;
	margin-top: 3px;
}
widget > label#mpris.prev {
	border-radius: 0 0 6px 6px;
	margin-bottom: 3px;
}

/*Tray*/
widget > box#tray {
	padding: 7px 0;
	margin: 3px 6px;
	min-width: 30px;
	background-color: #303030;
	border-radius: 6px;
}

/*Tray menu*/
window.popup > menu {
	background-color: #383838;
	padding: 8px;
	border-radius: 8px;
}

window.popup > menu > menuitem {
	padding: 4px 8px;
	border-radius: 6px;
}

window.popup > menu > menuitem:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
